# NFL Survivor Pool Data Wrangling

In this notebook we will ingest relevant datasets and clean them to prepare to use in simulations and different picking models

In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
# Load historical odds data from
# https://www.aussportsbetting.com/data/historical-nfl-results-and-odds-data/
historical_odds = pd.read_excel("../data/nfl.xlsx")
historical_odds.head()

,Date,Home Team,Away Team,Home Score,Away Score,Overtime?,Playoff Game?,Neutral Venue?,Home Odds Open,Home Odds Min,...,Total Score Close,Total Score Over Open,Total Score Over Min,Total Score Over Max,Total Score Over Close,Total Score Under Open,Total Score Under Min,Total Score Under Max,Total Score Under Close,Notes
0,2025-02-09 00:00:00,Philadelphia Eagles,Kansas City Chiefs,40,22,NaN,Y,Y,2.100,2.000,...,48.5,1.909,1.870,1.909,1.909,1.909,1.870,1.909,1.909,Played at Caesars Superdome in New Orleans
1,2025-01-26 00:00:00,Kansas City Chiefs,Buffalo Bills,32,29,NaN,Y,NaN,1.800,1.730,...,49.5,1.909,1.909,1.909,1.909,1.909,1.909,1.909,1.909,NaN
2,2025-01-26 00:00:00,Philadelphia Eagles,Washington Commanders,55,23,NaN,Y,NaN,1.400,1.310,...,47.0,1.909,1.909,1.909,1.909,1.909,1.909,1.909,1.909,NaN
3,2025-01-19 00:00:00,Buffalo Bills,Baltimore Ravens,27,25,NaN,Y,NaN,1.869,1.830,...,52.0,1.909,1.870,1.909,1.909,1.909,1.870,1.909,1.909,NaN
4,2025-01-19 00:00:00,Philadelphia Eagles,Los Angeles Rams,28,22,NaN,Y,NaN,1.363,1.294,...,43.5,1.909,1.870,1.909,1.909,1.909,1.870,1.909,1.909,NaN

In [3]:
historical_odds.describe()

,Home Score,Away Score,Home Odds Open,Home Odds Min,Home Odds Max,Home Odds Close,Away Odds Open,Away Odds Min,Away Odds Max,Away Odds Close,...,Total Score Max,Total Score Close,Total Score Over Open,Total Score Over Min,Total Score Over Max,Total Score Over Close,Total Score Under Open,Total Score Under Min,Total Score Under Max,Total Score Under Close
count,5146.000000,5146.000000,5146.000000,3010.000000,3010.000000,3010.000000,5146.000000,3010.000000,3010.000000,3010.000000,...,3010.000000,3010.000000,3010.000000,3010.000000,3010.000000,3010.000000,3010.000000,3010.000000,3010.000000,3010.000000
mean,23.579674,21.434707,1.963429,1.853177,2.125603,2.002515,2.801008,2.482787,2.918251,2.723936,...,46.505648,45.357807,1.923659,1.901958,1.940414,1.920198,1.918326,1.913674,1.924505,1.921413
std,10.286317,9.972134,0.979467,0.823812,1.086999,0.994714,1.677725,1.282791,1.653568,1.560545,...,4.168553,4.358752,0.032402,0.026647,0.053400,0.034540,0.031620,0.028689,0.036905,0.035813
min,0.000000,0.000000,1.011111,1.020000,1.040000,1.020000,1.055556,1.030000,1.060000,1.050000,...,35.000000,28.500000,1.800000,1.740000,1.860000,1.740000,1.775000,1.800000,1.787000,1.800000
25%,17.000000,14.000000,1.357143,1.333000,1.434000,1.370000,1.689655,1.598000,1.769000,1.660000,...,43.500000,42.500000,1.900000,1.900000,1.900000,1.900000,1.900000,1.900000,1.900000,1.900000
50%,23.000000,21.000000,1.634000,1.588000,1.751000,1.660000,2.400000,2.150000,2.500000,2.310000,...,46.000000,45.000000,1.909000,1.900000,1.909000,1.909000,1.909000,1.909000,1.909000,1.909000
75%,30.000000,28.000000,2.250000,2.110000,2.480000,2.310000,3.350000,2.985000,3.500000,3.250000,...,49.000000,48.000000,1.952000,1.909000,1.980000,1.934000,1.952000,1.925000,1.952000,1.934000
max,70.000000,59.000000,12.000000,10.000000,15.500000,11.000000,31.000000,12.500000,16.000000,16.000000,...,63.500000,62.500000,2.170000,2.050000,2.170000,2.110000,2.120000,2.120000,2.090000,2.220000

In [4]:
historical_odds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5146 entries, 0 to 5145
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     5146 non-null   object
 1   Home Team                5146 non-null   object
 2   Away Team                5146 non-null   object
 3   Home Score               5146 non-null   int64
 4   Away Score               5146 non-null   int64
 5   Overtime?                298 non-null    object
 6   Playoff Game?            219 non-null    object
 7   Neutral Venue?           70 non-null     object
 8   Home Odds Open           5146 non-null   float64
 9   Home Odds Min            3010 non-null   float64
 10  Home Odds Max            3010 non-null   float64
 11  Home Odds Close          3010 non-null   float64
 12  Away Odds Open           5146 non-null   float64
 13  Away Odds Min            3010 non-null   float64
 14  Away Odds Max            3010 non-null   float64
 15  Away Odds Close          3010 non-null   float64
 16  Home Line Open           5146 non-null   float64
 17  Home Line Min            3010 non-null   float64
 18  Home Line Max            3010 non-null   float64
 19  Home Line Close          3010 non-null   float64
 20  Away Line Open           3010 non-null   float64
 21  Away Line Min            3010 non-null   float64
 22  Away Line Max            3010 non-null   float64
 23  Away Line Close          3010 non-null   float64
 24  Home Line Odds Open      3010 non-null   float64
 25  Home Line Odds Min       3010 non-null   float64
 26  Home Line Odds Max       3010 non-null   float64
 27  Home Line Odds Close     3010 non-null   float64
 28  Away Line Odds Open      3010 non-null   float64
 29  Away Line Odds Min       3010 non-null   float64
 30  Away Line Odds Max       3010 non-null   float64
 31  Away Line Odds Close     3010 non-null   float64
 32  Total Score Open         5146 non-null   float64
 33  Total Score Min          3010 non-null   float64
 34  Total Score Max          3010 non-null   float64
 35  Total Score Close        3010 non-null   float64
 36  Total Score Over Open    3010 non-null   float64
 37  Total Score Over Min     3010 non-null   float64
 38  Total Score Over Max     3010 non-null   float64
 39  Total Score Over Close   3010 non-null   float64
 40  Total Score Under Open   3010 non-null   float64
 41  Total Score Under Min    3010 non-null   float64
 42  Total Score Under Max    3010 non-null   float64
 43  Total Score Under Close  3010 non-null   float64
 44  Notes                    61 non-null     object
dtypes: float64(36), int64(2), object(7)
memory usage: 1.8+ MB

In [5]:
# impute null closing lines with their opening lines since those have data for every row

We will use the closing betting lines as our odds for each game. There are missing values for these, so we will impute them with their opening lines as these are usually very different unless there is an injury another factor.

In [6]:
historical_odds['Home Odds Close'] = historical_odds['Home Odds Close'].fillna(historical_odds['Home Odds Open'])
historical_odds['Away Odds Close'] = historical_odds['Away Odds Close'].fillna(historical_odds['Away Odds Open'])

In [7]:
# remove the playoffs because most survival pools only go for the regular season
historical_odds = historical_odds[historical_odds['Playoff Game?'] != 'Y']

In [8]:
# create winner column
historical_odds['Winner'] = np.where(
    historical_odds['Home Score'] > historical_odds['Away Score'], historical_odds['Home Team'],
    np.where(
        historical_odds['Home Score'] < historical_odds['Away Score'], historical_odds['Away Team'],
        'tie'
    )
)

In [9]:
# ingest historical score from pro-football-reference.com
# Need this in order to gethe Week column
historical_scores = pd.read_csv("../data/historical_scores.csv")

In [10]:
historical_scores.head()

,Unnamed: 0,Week,Day,Date,Time,Winner/tie,Unnamed: 5,Loser/tie,Unnamed: 7,Pts,Pts.1,YdsW,TOW,YdsL,TOL,season
0,0,1,Thu,2006-09-07,8:37PM,Pittsburgh Steelers,NaN,Miami Dolphins,boxscore,28.0,17.0,342.0,1.0,278.0,2.0,2006
1,1,1,Sun,2006-09-10,1:00PM,Cincinnati Bengals,@,Kansas City Chiefs,boxscore,23.0,10.0,236.0,1.0,289.0,3.0,2006
2,2,1,Sun,2006-09-10,1:01PM,Baltimore Ravens,@,Tampa Bay Buccaneers,boxscore,27.0,0.0,271.0,0.0,142.0,3.0,2006
3,3,1,Sun,2006-09-10,1:02PM,New England Patriots,NaN,Buffalo Bills,boxscore,19.0,17.0,319.0,2.0,240.0,0.0,2006
4,4,1,Sun,2006-09-10,1:02PM,St. Louis Rams,NaN,Denver Broncos,boxscore,18.0,10.0,320.0,0.0,259.0,5.0,2006

In [11]:
historical_scores.describe()

,Unnamed: 0,Pts,Pts.1,YdsW,TOW,YdsL,TOL,season
count,5165.000000,5146.000000,5146.000000,5146.000000,5146.000000,5146.000000,5146.000000,5165.000000
mean,2582.000000,28.288962,16.728333,368.177419,0.974738,315.251846,1.973377,2015.105131
std,1491.151401,8.666853,8.096985,77.551236,0.988635,83.433531,1.344850,5.511131
min,0.000000,3.000000,0.000000,98.000000,0.000000,47.000000,0.000000,2006.000000
25%,1291.000000,23.000000,10.000000,316.000000,0.000000,258.000000,1.000000,2010.000000
50%,2582.000000,27.000000,17.000000,368.000000,1.000000,312.500000,2.000000,2015.000000
75%,3873.000000,34.000000,22.000000,419.000000,2.000000,373.000000,3.000000,2020.000000
max,5164.000000,70.000000,51.000000,726.000000,6.000000,613.000000,8.000000,2024.000000

In [12]:
historical_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5165 entries, 0 to 5164
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5165 non-null   int64
 1   Week        5146 non-null   object
 2   Day         5146 non-null   object
 3   Date        5165 non-null   object
 4   Time        5146 non-null   object
 5   Winner/tie  5146 non-null   object
 6   Unnamed: 5  2275 non-null   object
 7   Loser/tie   5146 non-null   object
 8   Unnamed: 7  5146 non-null   object
 9   Pts         5146 non-null   float64
 10  Pts.1       5146 non-null   float64
 11  YdsW        5146 non-null   float64
 12  TOW         5146 non-null   float64
 13  YdsL        5146 non-null   float64
 14  TOL         5146 non-null   float64
 15  season      5165 non-null   int64
dtypes: float64(6), int64(2), object(8)
memory usage: 645.8+ KB

In [13]:
historical_scores.iloc[5148:5154:, :]

,Unnamed: 0,Week,Day,Date,Time,Winner/tie,Unnamed: 5,Loser/tie,Unnamed: 7,Pts,Pts.1,YdsW,TOW,YdsL,TOL,season
5148,5148,18,Sun,2025-01-05,4:25PM,Los Angeles Chargers,@,Las Vegas Raiders,boxscore,34.0,20.0,473.0,0.0,264.0,1.0,2024
5149,5149,18,Sun,2025-01-05,4:25PM,Seattle Seahawks,@,Los Angeles Rams,boxscore,30.0,25.0,336.0,0.0,403.0,1.0,2024
5150,5150,18,Sun,2025-01-05,8:20PM,Detroit Lions,NaN,Minnesota Vikings,boxscore,31.0,9.0,394.0,2.0,262.0,0.0,2024
5151,5151,NaN,NaN,Playoffs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024
5152,5152,WildCard,Sat,2025-01-11,4:30PM,Houston Texans,NaN,Los Angeles Chargers,boxscore,32.0,12.0,429.0,3.0,261.0,4.0,2024
5153,5153,WildCard,Sat,2025-01-11,8:00PM,Baltimore Ravens,NaN,Pittsburgh Steelers,boxscore,28.0,14.0,464.0,0.0,280.0,0.0,2024

In [14]:
# drop 'Unnamed: 0' column
historical_scores = historical_scores.drop('Unnamed: 0', axis=1)

# remove empty rows that signify the playoffs starting
historical_scores = historical_scores[historical_scores['Date'] != 'Playoffs']

# fill na values in Unnamed: 5 column with 'vs' and rename it to '@ or vs'
historical_scores['Unnamed: 5'] = historical_scores['Unnamed: 5'].fillna('vs')
historical_scores = historical_scores.rename(columns={'Unnamed: 5': '@ or vs'})

# drop Unnamed: 7
historical_scores = historical_scores.drop('Unnamed: 7', axis=1)

historical_scores['Home Team'] = np.where(
    historical_scores['@ or vs'] == 'vs', historical_scores['Winner/tie'], historical_scores['Loser/tie'])

historical_scores['Away Team'] = np.where(
    historical_scores['@ or vs'] == '@', historical_scores['Winner/tie'], historical_scores['Loser/tie'])

In [15]:
historical_odds['Game ID'] = historical_odds['Date'].astype(str).str[:10] + '|' + historical_odds['Home Team']
historical_scores['Game ID'] = historical_scores['Date'] + '|' + historical_scores['Home Team']

In [16]:
len(historical_odds)

4927

In [17]:
len(pd.merge(historical_odds, historical_scores, on='Game ID', how='inner'))

4923

In [18]:
merged = pd.merge(historical_odds, historical_scores, on='Game ID', how='inner')

We are losing 4 rows over all of the seasons due to date discrepencies. This is such a small amount of data loss and should be negligible. If needed we can manually enter the rows or develop a more sophisticated solution

In [19]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4923 entries, 0 to 4922
Data columns (total 63 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date_x                   4923 non-null   object
 1   Home Team_x              4923 non-null   object
 2   Away Team_x              4923 non-null   object
 3   Home Score               4923 non-null   int64
 4   Away Score               4923 non-null   int64
 5   Overtime?                281 non-null    object
 6   Playoff Game?            0 non-null      object
 7   Neutral Venue?           50 non-null     object
 8   Home Odds Open           4923 non-null   float64
 9   Home Odds Min            2875 non-null   float64
 10  Home Odds Max            2875 non-null   float64
 11  Home Odds Close          4923 non-null   float64
 12  Away Odds Open           4923 non-null   float64
 13  Away Odds Min            2875 non-null   float64
 14  Away Odds Max            2875 non-null   float64
 15  Away Odds Close          4923 non-null   float64
 16  Home Line Open           4923 non-null   float64
 17  Home Line Min            2875 non-null   float64
 18  Home Line Max            2875 non-null   float64
 19  Home Line Close          2875 non-null   float64
 20  Away Line Open           2875 non-null   float64
 21  Away Line Min            2875 non-null   float64
 22  Away Line Max            2875 non-null   float64
 23  Away Line Close          2875 non-null   float64
 24  Home Line Odds Open      2875 non-null   float64
 25  Home Line Odds Min       2875 non-null   float64
 26  Home Line Odds Max       2875 non-null   float64
 27  Home Line Odds Close     2875 non-null   float64
 28  Away Line Odds Open      2875 non-null   float64
 29  Away Line Odds Min       2875 non-null   float64
 30  Away Line Odds Max       2875 non-null   float64
 31  Away Line Odds Close     2875 non-null   float64
 32  Total Score Open         4923 non-null   float64
 33  Total Score Min          2875 non-null   float64
 34  Total Score Max          2875 non-null   float64
 35  Total Score Close        2875 non-null   float64
 36  Total Score Over Open    2875 non-null   float64
 37  Total Score Over Min     2875 non-null   float64
 38  Total Score Over Max     2875 non-null   float64
 39  Total Score Over Close   2875 non-null   float64
 40  Total Score Under Open   2875 non-null   float64
 41  Total Score Under Min    2875 non-null   float64
 42  Total Score Under Max    2875 non-null   float64
 43  Total Score Under Close  2875 non-null   float64
 44  Notes                    57 non-null     object
 45  Winner                   4923 non-null   object
 46  Game ID                  4923 non-null   object
 47  Week                     4923 non-null   object
 48  Day                      4923 non-null   object
 49  Date_y                   4923 non-null   object
 50  Time                     4923 non-null   object
 51  Winner/tie               4923 non-null   object
 52  @ or vs                  4923 non-null   object
 53  Loser/tie                4923 non-null   object
 54  Pts                      4923 non-null   float64
 55  Pts.1                    4923 non-null   float64
 56  YdsW                     4923 non-null   float64
 57  TOW                      4923 non-null   float64
 58  YdsL                     4923 non-null   float64
 59  TOL                      4923 non-null   float64
 60  season                   4923 non-null   int64
 61  Home Team_y              4923 non-null   object
 62  Away Team_y              4923 non-null   object
dtypes: float64(42), int64(3), object(18)
memory usage: 2.4+ MB

In [20]:
# rename columns and choose ones to keep in simulation
merged = merged.rename(columns={'Date_y': 'Date',
                       'season': 'Season',
                       'Home Team_x': 'Home Team',
                       'Away Team_x': 'Away Team'
                      })
merged['Date'] = pd.to_datetime(merged['Date'])
merged = merged[['Season', 'Week', 'Date', 'Home Team', 'Away Team', 'Winner', 'Home Odds Close', 'Away Odds Close']]

In [21]:
# make one row for each team in a game with their odds and whether they won
new_df = pd.DataFrame(columns=['Season', 'Week', 'Date', 'Team', 'Odds', 'Won?'])
for i, row in merged.iterrows():
    home_row = {'Season': row['Season'],
                'Week': row['Week'],
                'Date': row['Date'],
                'Team': row['Home Team'],
                'Odds': row['Home Odds Close'],
                'Won?': row['Home Team'] == row['Winner']}
    away_row = {'Season': row['Season'],
                'Week': row['Week'],
                'Date': row['Date'],
                'Team': row['Away Team'],
                'Odds': row['Away Odds Close'],
                'Won?': row['Away Team'] == row['Winner']}

    new_df.loc[len(new_df)] = home_row
    new_df.loc[len(new_df)] = away_row
# add implied probability
new_df['Implied Prob'] = 1 / new_df['Odds']

In [22]:
cleaned_df = new_df

In [23]:
# this df is used as our real historical odds
cleaned_df.to_csv('../data/cleaned_odds.csv')

In [24]:
# this df is used to run further simulations
merged.to_csv("../data/df_for_simulation.csv")